{% include 'pages/header.html' %}

<div class="card-container">
  {% for i in eclasses %}
    <a href="{{i}}" style="color: red; text-decoration: none;">
      <div class="card">
        <div class="card-details">
          <p class="text-title">{{i}}</p>
          <p class="text-body">{{i.subject_description}}</p>
        </div>
        <button class="card-button">{{i}}</button>
      </div>
    </a>
  {% endfor %}
</div>

<section>
  {% include 'pages/footer.html' %}
</section>

</body>
</html>


{% comment %} 
Notes -  {{request.path}} - Used to print the path on website;

2. {% url 'home' as url %} #alias url can be same
class = "{% if request.path == url %} active {% endif %} 

3. onmouseover / onmouseout is used to stop or play marque by mouse hover
{% endcomment %}