{% include 'header.html' %}


<section>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Start Lerning</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Tutorial 1</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Tutorial 2</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Tutorial 3</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Tutorial 4</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Tutorial 5</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Tutorial 6</a>
        </div>
    </div>


    
        <!-- END Sidebar-->

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation with toggle button-->
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Click to hide Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                
                <!-- Source video for learning -->
                <div class="ratio  ratio-16x9 ms-auto" style="--bs-aspect-ratio: 56%;">
                    <iframe src="https://www.youtube.com/embed/LXb3EKWsInQ" title="YouTube video" allowfullscreen></iframe>
                  </div>
                <!-- End of Source video for learning -->

            </div>
        
        <!-- End Top navigation with toggle button-->
    </div>
   
</div>
</section>




<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/static/js/scripts.js"></script>